<!doctype html>
<html ng-app>
<head>
    <meta charset="utf-8" />
    <style type="text/css">
        .css-form .ng-invalid.ng-dirty{
            background-color:#FA787E;
        }

        .css-form .ng-valid.ng-dirty{
            background-color:#78FA89;
        }

        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak{
            display:none !important;
        }
    </style>
</head>
<body>

<div ng-controller="Controller">
    <!--其中 novalidate 属性用于禁用浏览器自带的表单验证功能-->
    <form novalidate class="css-form" name="myForm">
        Name:
        <input type="text" name="uname" ng-model="user.name" required />
        <br /> E-mail:
        <input type="email" name="email" ng-model="user.email" required />
        <br /> Gender:
        <input type="radio" ng-model="user.gender" value="male" />
        male
        <input type="radio" ng-model="user.gender" value="female" />
        female<br />

        <button ng-click="reset()">RESET</button>
        <button ng-click="update(user)">SAVE</button>

        <tt> {{!!myForm.uname.$error.required}} </tt> <tt> {{myForm.email.$error}} </tt> <tt>{{myForm.$valid}}</tt>
        <tt> {{!!myForm.$error.required}}</tt>
    </form>
    <pre>form = {{user | json}}</pre>
    <pre ng-cloak="">master = {{master | json}}</pre>


    <hr />


    <div id="template1" ng-cloak>{{ 'hello' }}</div>
    <div id="template2" ng-cloak class="ng-cloak">{{ 'hello IE7' }}</div>
    <div>
        <input ng-copy="copied=true" ng-init="copied=false; copyvalue='copy me'" ng-model="copyvalue">
        copied: {{copied}} <br />
        <input ng-cut="cut=true" ng-init="cut=false; cutvalue='cut me'" ng-model="cutvalue">
        cut: {{cut}} <br />

        ngList: <br />
        <input id="namesInput" ng-focus="names= [123,456]" ng-blur="" ng-init="names = ['igor', 'misko', 'vojta']" name="namesInput" ng-model="names" required>
    </div>
</div>
</body>
<script src="angular-1.3.0-beta.7/angular.js"></script>
<script type="text/javascript">
    function Controller($scope) {
        $scope.master = {};

        $scope.user = {};

        $scope.update = function (user) {
            $scope.master = angular.copy(user);
        };

        $scope.reset = function () {
            $scope.user = angular.copy($scope.master);
        };

        $scope.reset();


    }
</script>
</html>