<!doctype html>
<html ng-app="MyCSSModule">

<head>
    <meta charset="utf-8">
    <script src="../angular-1.3.0.14/angular.js"></script>
    <script src="NgShow.js"></script>
</head>

<body>
<div ng-controller='DeathrayMenuController'>
    <button ng-click='toggleMenu()'>Toggle Menu</button>
    <ul ng-show='menuState.show'>
        <li ng-click='stun()'>Stun</li>
        <li ng-click='disintegrate()'>Disintegrate</li>
        <li ng-click='erase()'>Erase from history</li>
    </ul>
</div>

</body>

</html>
